 *{
    padding: 0;
    margin: 0;

}
body {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.links {
    display: flex;
    column-gap: 20px;
}
.linkss a{
    text-decoration: none;
    color: #1d232c;
}
.linkss a:hover {
    text-decoration: underline;
    color: #1d232c;
}
.menu{
    display: none;
}
@media screen and (max-width:700px) {
    .menu{
        display: block;
    }
    .linkss{
        display: none;
    }
}
.slinks{
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px;
    color: white;
    display: none;
}
.sidelinkss{
    margin-top: 30px;

}
.sidelinkss a{
    text-decoration: none;
    color: white;
} 
.sidelinkss a:hover{
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content: center;
    gap:50px;
    padding: 50px;
}
.new{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    marigin: top 10px;
    background-color: #1d232c;
    color: white;
}
.service{
    padding: 20px;
}
.service-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-con1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-con1 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}
.newarrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.arrival{
    position: relative;
flex-basis: 20%;}
.arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
}
.feed{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.feed input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;

}
.feed button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1d232c;
    border-radius: 10px;
    padding: 10px;
}
.foot{
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #f2f4f7;
}
.product{
    margin-top: 20px;
}
.psearch{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.psearch input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.psearch input:focus{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    text-align: center;
    flex-basis: 20%;
}
.box img{
    border-radius: 10px;
}